/* --------------- Background --------------- */
body {
    background-color: black;
    opacity: 0.7;
}

/* --------------- Start Trivia Button --------------- */
#title {
    margin-left: 9%;
    z-index: 1 !important;
    
}

/* --------------- Main Logo Image 'Music Trivia' --------------- */

.bgImage .img-fluid {
    width: 61%;
    margin-top: -10%;
    margin-left: 19%;
    z-index: 0 !important;
}

/* --------------- Main Image --------------- */

.img1 {
    margin-top: -17%;
    margin-left: -2%;
}




#heading {
    margin-top: 10%;
    float: right;
    color: white;
    z-index: 1;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}

#titleWord {
    position: relative;
    color: white;
}

